.block {
    padding: 2em 2em;
    background-color: #dae3ea;
    text-align: center;
    border-radius: 5px;
    border: solid 2px white;
}

@keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}

a {
    color: black;
    text-decoration: none;
}
a:hover {
    color: darkblue;
    text-decoration: none;  
}

img {
    margin-bottom: 15px;
    width: 100%;
}

@keyframes lightning {
    from {
        box-shadow: 0 0 20px 7px #ceec9d;
    }

    to {
        box-shadow:none;
    }
}