@page
@model FurnitureShop.Pages.Admin.IndexModel
@{
    ViewData["Title"] = "ADMIN";
}

<h1>ADMIN</h1>
<hr />
<ul>
    <li><a asp-page="Furniture/Index">Мебель</a></li>
    <li><a asp-page="Category/Index">Категории</a></li>
    <li><a asp-page="Collection/Index">Коллекции</a></li>
    <li><a asp-page="Manufacturer/Index">Производитель</a></li>
    <li><a asp-page="Colors/Index">Цвета</a><i style="color:green"> to be continued...</i></li>
    <li><a asp-page="Materials/Index">Материалы</a><i style="color:green"> to be continued...</i></li>
</ul>
<ul>
    <li><a asp-page="Statistics">Статистика</a></li>
</ul>

