@page
@model FurnitureShop.Pages.Admin.IndexModel
@{
    ViewData["Title"] = "ADMIN";
}

<h1>ADMIN</h1>
<hr />
<ul>
    <li><a asp-page="Furniture/Index">Furniture</a></li>
    <li><a asp-page="Category/Index">Categories</a></li>
    <li><a asp-page="Collection/Index">Collections</a></li>
    <li><a asp-page="Manufacturer/Index">Manufacturers</a></li>
    <li><a asp-page="Colors/Index">Colors</a><i style="color:green"> to be continued...</i></li>
    <li><a asp-page="Materials/Index">Materials</a><i style="color:green"> to be continued...</i></li>
</ul>
<ul>
    <li><a asp-page="Statistics">Statistics</a></li>
</ul>

