@page
@model FurnitureShop.Pages.Admin.Manufacturer.CreateModel
@{
    ViewData["Title"] = "ADMIN";
}

<h1>Создать производителя</h1>
<hr />

@{
    if (Model.Message != null)
    {
        <p style="color:@(Model.IsWarningMessage ? "red" : "green");"> @Model.Message </p>
        <hr />
    }
}

<form method="post" asp-page="Create" asp-page-handler="Create">
    Название: <input type="text" class="form-control" name="name" /><br />
    Описание: <input type="text" class="form-control" name="description" /><br />
    Контакты: <input type="text" class="form-control" name="contacts" /><br />
    Изображение: <input type="text" class="form-control" name="image" /><br />
    <input type="submit" value="Создать" class="btn btn-primary" />
</form>
